body {
  background-color: #FFE;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field {
  margin-bottom: 10px; }

div.actions


#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.address {
  margin:  0;                 /* デフォルトCSS打ち消し */
  font-size:  24px;           /* 文字サイズ指定 */
  position:  relative;        /* 位置調整 */
  font-weight:  normal;       /* 文字の太さ調整 */
  display:  inline-block;     /* インラインブロックにする */
  background-color: #feeaac;  /* 背景色指定 */
  padding:  10px;             /* 余白指定 */
  margin-bottom: 15px;        /* 周りの余白指定 */
  border-radius:  2px;        /* 角丸指定 */
  font-family: serif;
}
.address:before {
  content:  '';               /* 空白の要素を作る */
  background-color: #b3b3b3;  /* 背景色指定 */
  display:  block;            /* ブロック要素にする */
  position:  absolute;        /* 位置調整 */
  left: 50%;                  /* 位置調整 */
  height: 60%;                /* 高さ指定 */
  top: 26%;                   /* 位置調整 */
  z-index:  -1;               /* 重なり調整 */
  width: 46%;                 /* 幅指定 */
  box-shadow: 0 0 8px 8px #b3b3b3;/* 影指定 */
  transform: rotate(3deg);    /* 回転 */
}
.btn_01 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #228bc8;
  box-sizing: border-box;
  color: #228bc8;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
}
.btn_01:hover {
  background: #228bc8;
  color: #fff;
}
.btn_01:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 8px;
  border-color: transparent transparent transparent #228bc8;
  position: absolute;
  top: 50%;
  left: 6%;
  margin-top: -7px;
}
.btn_01:hover:before {
  border-color: transparent transparent transparent #fff;
}

.custom-btn {
  padding: 10px 25px;
  border: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.btn-02 {
  position: relative;
  color: #000;
  z-index: 2;
  padding: 0;
}
.btn-02:hover{
  border: none;
}
.btn-02:before,
.btn-02:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid transparent;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-02:before {
  top: 0;
   left: 0;
}
.btn-02:after{
   bottom: 0;
   right: 0;
}
.btn-02:hover:before,
.btn-02:hover:after {
  border-color: #000;
  height: 100%;
  width: 100%;
}